h1{
    text-align: center;
    color: indianred;
}

img{
    margin: 5px auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    box-shadow: 2px 2px 2px lightgray ;
    

}